@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-raleway;
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}


.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-div {
    height: 250px;
    width: 450px;
}

@media (max-width: 768px) {
    .content-div {
        height: 210px;
        width: 360px;
    }
}

@media (max-width: 480px) {
    .content-div {
        height: 160px;
        width: 290px;
    }
}

.content-div:hover{
    background-image: linear-gradient(
        to right, 
        rgb(254, 159, 127),
        rgb(0, 120, 161)
        
    )!important;
}